Repository vint21h/django-read-only-admin: changes, and which pre-commit hooks are due for each by the changed paths.
All: seed-isort-config, removestar, isort, black, yesqa, flake8, interrogate, pylint, bandit, dodgy, darglint, mypy, pyroma, check-wheel-contents, dotenv-linter

.pre-commit-config.yaml:

# django-read-only-admin
# .pre-commit-config.yaml


repos:
- repo: local
  hooks:
    - id: seed-isort-config
      name: seed-isort-config
      stages: [commit]
      language: system
      pass_filenames: false
      entry: seed-isort-config
      types: [python]
    - id: removestar
      name: removestar
      stages: [commit]
      language: system
      entry: removestar -i read_only_admin tests
      types: [python]
    - id: isort
      name: isort
      stages: [commit]
      language: system
      entry: isort
      types: [python]
    - id: black
      name: black
      stages: [commit]
      language: system
      entry: black read_only_admin tests
      types: [python]
    - id: yesqa
      name: yesqa
      stages: [commit]
      language: system
      pass_filenames: false
      entry: yesqa
      types: [python]
    - id: flake8
      name: flake8
      stages: [commit]
      language: system
      entry: flake8
      types: [python]
    - id: interrogate
      name: interrogate
      stages: [commit]
      language: system
      entry: interrogate read_only_admin tests -I -M
      types: [python]
    - id: pylint
      name: pylint
      stages: [commit]
      language: system
      entry: pylint read_only_admin tests
      types: [python]
    - id: bandit
      name: bandit
      stages: [commit]
      language: system
      entry: bandit -r read_only_admin tests --ini=setup.cfg
      types: [python]
      pass_filenames: false
    - id: dodgy
      name: dodgy
      stages: [commit]
      language: system
      entry: dodgy
      types: [python]
      pass_filenames: false
    - id: darglint
      name: darglint
      stages: [commit]
      language: system
      entry: darglint
      types: [python]
    - id: polint
      name: polint
      stages: [commit]
      language: system
      entry: polint --ignore=location,unsorted --show-msg
      types: [pofile]
      pass_filenames: true
    - id: dennis
      name: dennis
      stages: [commit]
      language: system
      entry: dennis-cmd lint
      types: [pofile]
      pass_filenames: true
    - id: curlylint
      name: curlylint
      stages: [commit]
      language: system
      entry: curlylint
      types: [html,xml]
      pass_filenames: true
    - id: mypy
      name: mypy
      stages: [commit]
      language: system
      entry: bash -c 'PYTHONPATH="$PYTHONPATH:$PWD" mypy'
      types: [python]
      pass_filenames: false
    - id: check-manifest
      name: check-manifest
      stages: [commit]
      language: system
      pass_filenames: false
      entry: check-manifest
    - id: pyroma
      name: pyroma
      stages: [commit]
      language: system
      pass_filenames: false
      entry: pyroma -d .
      types: [python]
    - id: check-wheel-contents
      name: check-wheel-contents
      stages: [commit]
      language: system
      pass_filenames: false
      entry: bash -c 'make build -B && check-wheel-contents dist'
      types: [python]
    - id: dotenv-linter
      name: dotenv-linter
      entry: dotenv-linter
      language: system
      stages: [commit]
      types: [text]
      files: \.env*
      exclude: .envrc
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: trailing-whitespace

Version up
  read_only_admin/locale/en/LC_MESSAGES/django.mo
  read_only_admin/locale/en/LC_MESSAGES/django.po
  read_only_admin/locale/uk/LC_MESSAGES/django.mo
  read_only_admin/locale/uk/LC_MESSAGES/django.po
  setup.cfg
Due: none

Updated requirements
  setup.cfg
Due: none

Big update
  .env.example
  .github/SECURITY.md
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/check-requirements.yml
  .pre-commit-config.yaml
  .python-version
  Makefile
  README.rst
  read_only_admin/__init__.py
  read_only_admin/admin.py
  read_only_admin/apps.py
  read_only_admin/conf.py
  read_only_admin/models.py
  read_only_admin/signals.py
  read_only_admin/templatetags/__init__.py
  read_only_admin/templatetags/read_only_admin_tags.py
  read_only_admin/utils.py
  setup.cfg
  tests/__init__.py
  tests/settings.py
  tests/templatetags/__init__.py
  tests/templatetags/test_read_only_admin_tags.py
  tests/test_admin.py
  tests/test_signals.py
  tests/test_utils.py
Due: seed-isort-config, removestar, isort, black, yesqa, flake8, interrogate, pylint, bandit, dodgy, darglint, mypy, pyroma, check-wheel-contents, dotenv-linter

Some configs updates
  .github/workflows/check-requirements.yml
Due: none

Big update
  .github/SECURITY.md
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/coveralls.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .python-version
  read_only_admin/admin.py
  setup.cfg
Due: seed-isort-config, removestar, isort, black, yesqa, flake8, interrogate, pylint, bandit, dodgy, darglint, mypy, pyroma, check-wheel-contents

Version up
  .github/SECURITY.md
  read_only_admin/locale/en/LC_MESSAGES/django.mo
  read_only_admin/locale/en/LC_MESSAGES/django.po
  read_only_admin/locale/uk/LC_MESSAGES/django.mo
  read_only_admin/locale/uk/LC_MESSAGES/django.po
  setup.cfg
Due: none

Workflow fix
  .github/workflows/check-requirements.yml
Due: none

Fixed GH workflows headers
  .github/workflows/coveralls.yml
  .github/workflows/test.yml
Due: none

Fixed GH workflows
  .github/workflows/check.yml
  .github/workflows/coveralls.yml
  .github/workflows/test.yml
Due: none

Updated copyright
  MIT-LICENSE
Due: none
